# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# JetBrains
.idea/

# Python Testing
.pytest_cache/
test_neurosim.db

# Coverage
.coverage
htmlcov/

# Node
node_modules/

# Build Artifacts
dist/
build/

# Database
*.db

# Logs
*.log
